@import 'vars';

body {
    overflow-x: hidden;
}
summary {
    display: block;
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}

.header {
    background: #222;
    position: relative;
}

.header__inner, .header__items, .header__item  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__items {
    gap: 33px;
    padding: 19px 0;
}
.header__items:first-child {
    gap: 41px;
}

.header__item {
    width: 30px;
    height: 30px;
}

.header__menu_box {
    position: absolute;
    top: 78px;
    right: -999px;
    padding: 32px 74px 32px 32px;
    background: #fff;
    opacity: 1;
    transition: all 0.25s;
    z-index: 100;
}

.header__menu-container[open] .header__menu_box {
    right: 0;
}

.header__menu_title {
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 24px;
}

.header__menu_category {
    margin-bottom: 20px;
}
.header__menu_subtitle {
    text-transform: uppercase;
    color: #F16D7F;
    margin-bottom: 12px;
}
.header__menu_list {
    padding-left: 21px;
    margin-bottom: 20px;
}
.header__menu_item {
    margin-bottom: 11px;
}
.header__menu_link:hover {
    color: $priorityColor;
}

.header__user, .header__cart {
    display: block;
}
.header__cart {
    position: relative;
}
.header__cart::after {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -8px;
    right: -8px;
    content: '5';
    color: #fff;
    font-size: 12px;
    background: #F16D7F;
    width: 19px;
    height: 19px;
    border-radius: 45%;
}
.header__cart:hover::after {
    animation: wobble-ver-left 0.8s both;
}
