html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=checkbox] {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

summary {
  display: block;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

ul, li {
  text-decoration: none;
  list-style: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

@keyframes wobble-ver-left {
  0%, 100% {
    transform: translateY(0) rotate(0);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateY(-17px) rotate(-6deg);
  }
  30% {
    transform: translateY(12px) rotate(6deg);
  }
  45% {
    transform: translateY(-12px) rotate(-3.6deg);
  }
  60% {
    transform: translateY(7px) rotate(2.4deg);
  }
  75% {
    transform: translateY(-4px) rotate(-1.2deg);
  }
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
body {
  overflow-x: hidden;
}

summary {
  display: block;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

.header {
  background: #222;
  position: relative;
}

.header__inner, .header__items, .header__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__items {
  gap: 33px;
  padding: 19px 0;
}

.header__items:first-child {
  gap: 41px;
}

.header__item {
  width: 30px;
  height: 30px;
}

.header__menu_box {
  position: absolute;
  top: 78px;
  right: -999px;
  padding: 32px 74px 32px 32px;
  background: #fff;
  opacity: 1;
  transition: all 0.25s;
  z-index: 100;
}

.header__menu-container[open] .header__menu_box {
  right: 0;
}

.header__menu_title {
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 24px;
}

.header__menu_category {
  margin-bottom: 20px;
}

.header__menu_subtitle {
  text-transform: uppercase;
  color: #F16D7F;
  margin-bottom: 12px;
}

.header__menu_list {
  padding-left: 21px;
  margin-bottom: 20px;
}

.header__menu_item {
  margin-bottom: 11px;
}

.header__menu_link:hover {
  color: #F16D7F;
}

.header__user, .header__cart {
  display: block;
}

.header__cart {
  position: relative;
}

.header__cart::after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -8px;
  right: -8px;
  content: "5";
  color: #fff;
  font-size: 12px;
  background: #F16D7F;
  width: 19px;
  height: 19px;
  border-radius: 45%;
}

.header__cart:hover::after {
  animation: wobble-ver-left 0.8s both;
}

.breadcrumb {
  background: #F8F3F4;
  width: 100%;
  padding: 60px 0;
}
.breadcrumb__inner {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
}
.breadcrumb__title {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 400;
}
.breadcrumb__nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 8px;
}
.breadcrumb__item {
  color: #636363;
  font-weight: 300;
  font-size: 14px;
}
.breadcrumb__link:hover {
  text-decoration: underline;
  color: #F16D7F;
}
.breadcrumb__item::after {
  content: "/";
  padding-left: 7px;
}
.breadcrumb__item:last-child {
  color: #F16D7F;
  font-weight: 600;
}
.breadcrumb__item:last-child::after {
  content: "";
  padding-left: 0;
}

.footer {
  background: #222224;
  padding: 24px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__info {
  font-size: 16px;
  color: #FBFBFB;
}

.footer__socials {
  display: flex;
  justify-content: space-between;
  gap: 7px;
}

.footer__icon {
  transition: all 0.2s;
}

.footer__icon:hover .footer__icon_path {
  fill: #F16D7F;
}

.footer__icon:hover .footer__icon_path2 {
  fill: #fff;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #5D5D5D;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.cart {
  padding-top: 96px;
  padding-bottom: 128px;
  display: flex;
  justify-content: space-between;
}
.cart__left {
  max-width: 652px;
}
.cart__goods {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 72px;
}
.cart__goods-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  box-shadow: 10px 20px 20px 5px #EAEAEA;
}
.cart__goods-img {
  width: 262px;
  height: 306px;
}
.cart__goods-desc {
  padding: 22px 97px 62px 31px;
  font-weight: 400;
}
.cart__goods-name {
  font-size: 24px;
  color: #222;
  margin-bottom: 42px;
}
.cart__goods-options {
  font-size: 22px;
  color: #575757;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.cart__goods-options span {
  padding-left: 5px;
  color: #6F6E6E;
}
.cart__goods-price span {
  color: #F16D7F;
}
.cart__goods-quantity input {
  color: #6F6E6E;
  font-size: 18px;
  margin-left: 24px;
  padding-left: 12px;
  padding-right: 5px;
  width: 66px;
  text-align: center;
}
.cart__goods-btn-close {
  position: absolute;
  top: 28px;
  right: 22px;
  cursor: pointer;
  width: 18px;
  height: 18px;
  background: transparent;
  border: none;
  transition: all 0.25s;
}
.cart__goods-btn-close::after {
  position: absolute;
  content: "";
  display: block;
  background: #575757;
  width: 24px;
  height: 4px;
  top: 6px;
  left: -4px;
  transform: rotate(45deg);
}
.cart__goods-btn-close::before {
  position: absolute;
  content: "";
  display: block;
  background: #575757;
  width: 24px;
  height: 4px;
  top: 6px;
  left: -4px;
  transform: rotate(-45deg);
}
.cart__goods-btn-close:hover {
  transform: scale(1.1);
}
.cart__left-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 300;
  color: #000;
  text-transform: uppercase;
}
.cart__left-button {
  padding: 17px 40px;
  background: transparent;
  border: 1px solid #A4A4A4;
  cursor: pointer;
  transition: all 0.25s;
}
.cart__left-button:hover {
  color: #F16D7F;
  background: #F8F3F4;
}
.cart__right {
  width: 360px;
  padding-top: 17px;
}
.cart__order {
  width: 100%;
  font-weight: 300;
}
.cart__order-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-bottom: 57px;
}
.cart__order-title {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  color: #222222;
}
.cart__order-input {
  width: 100%;
  height: 44px;
  padding-left: 17px;
  padding-right: 17px;
  border: 1px solid #A4A4A4;
}
.cart__order-input::-moz-placeholder {
  font-size: 13px;
  font-weight: 300;
  color: #222222;
}
.cart__order-input::placeholder {
  font-size: 13px;
  font-weight: 300;
  color: #222222;
}
.cart__order-input_city::-moz-placeholder {
  color: #B1B1B1;
}
.cart__order-input_city::placeholder {
  color: #B1B1B1;
}
.cart__order-submit-btn {
  width: 102px;
  height: 35px;
  font-weight: 300;
  font-size: 11px;
  color: #4A4A4A;
  border: 1px solid #A4A4A4;
  background: transparent;
  cursor: pointer;
  transition: all 0.25s;
}
.cart__order-submit-btn:hover {
  background: #F16D7F;
  color: #fff;
}
.cart__order-total {
  background: #F8F3F4;
  padding: 39px 43px 42px;
  text-transform: uppercase;
  text-align: right;
  width: 100%;
}
.cart__order-total span {
  margin-left: 15px;
}
.cart__order-subtotal {
  font-weight: 400;
  font-size: 11px;
  margin-bottom: 12px;
}
.cart__order-grandtotal {
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 21px;
  border-bottom: 1px solid #E2E2E2;
  margin-bottom: 17px;
}
.cart__order-grandtotal span {
  font-weight: 600;
  color: #F16D7F;
}
.cart__order-checkout-btn {
  width: 100%;
  height: 50px;
  background: #F16D7F;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background 0.25s;
}
.cart__order-checkout-btn:hover {
  background: #d84e60;
}

.subscribe {
  background-image: url(img/subscribe-bg.jpg);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
}
.subscribe__wraper {
  width: 100%;
  height: 100%;
  padding: 97px 0 126px;
  background: rgba(244, 244, 244, 0.7);
}
.subscribe__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscribe__quote, .subscribe .subscribe__feedback {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe__feedback {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe__quote {
  max-width: 360px;
}
.subscribe__quote_pic {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
  margin-bottom: 28px;
}
.subscribe__quote_img {
  position: absolute;
  transform: scale(1.01);
  top: 0;
  left: 0;
}
.subscribe__quote_text {
  font-size: 20px;
  color: #222224;
}
.subscribe__quote_text span {
  font-style: italic;
}
.subscribe__feedback {
  max-width: 557px;
}
.subscribe__feedback_subtitle {
  text-transform: uppercase;
  color: #222224;
}
.subscribe__feedback_title, .subscribe .subscribe__feedback_subtitle {
  text-transform: uppercase;
  color: #222224;
}
.subscribe__feedback_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 168%;
}
.subscribe__feedback_subtitle {
  font-size: 18px;
  margin-bottom: 32px;
}
.subscribe__feedback_form {
  height: 49px;
  display: flex;
  justify-content: center;
}
.subscribe__feedback_email {
  width: 256px;
  height: 100%;
  border-radius: 25px 0 0 25px;
  padding: 17px 22px;
  background: #E1E1E1;
  border: none;
}
.subscribe__feedback_email::-moz-placeholder {
  font-size: 14px;
  color: #222224;
}
.subscribe__feedback_email::placeholder {
  font-size: 14px;
  color: #222224;
}
.subscribe__feedback_btn {
  width: 100px;
  height: 100%;
  border-radius: 0 25px 25px 0;
  background: #F16D7F;
  font-size: 14px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}
.subscribe__feedback_btn:hover {
  background: #d44d5f;
}/*# sourceMappingURL=cart.css.map */