html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  background: #222;
}

.header__inner, .header__items, .header__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__items {
  gap: 33px;
  padding: 19px 0;
}

.header__items:first-child {
  gap: 41px;
}

.header__item {
  width: 30px;
  height: 30px;
}

.header__menu {
  position: relative;
}

.header__menu:hover .header__menu_box {
  opacity: 100;
  transform: translateY(650px);
}

.header__menu_box {
  position: absolute;
  width: 232px;
  top: -650px;
  right: 0;
  padding: 32px 74px 32px 32px;
  background: #fff;
  opacity: 0;
  transition: all 0.7s;
  z-index: 1;
}

.header__menu_title {
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 24px;
}

.header__menu_category {
  margin-bottom: 20px;
}

.header__menu_subtitle {
  text-transform: uppercase;
  color: #F16D7F;
  margin-bottom: 12px;
}

.header__menu_list {
  padding-left: 21px;
  margin-bottom: 20px;
}

.header__menu_item {
  margin-bottom: 11px;
}

.header__user, .header__cart {
  display: block;
}

.header__cart {
  position: relative;
}

.header__cart::after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -8px;
  right: -8px;
  content: "5";
  color: #fff;
  font-size: 12px;
  background: #F16D7F;
  width: 19px;
  height: 19px;
  border-radius: 45%;
}

.header__cart:hover::after {
  animation: wobble-ver-left 0.8s both;
}

.footer {
  background: #222224;
  padding: 24px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__info {
  font-size: 16px;
  color: #FBFBFB;
}

.footer__socials {
  display: flex;
  justify-content: space-between;
  gap: 7px;
}

.footer__icon {
  transition: all 0.2s;
}

.footer__icon:hover .footer__icon_path {
  fill: #F16D7F;
}

.footer__icon:hover .footer__icon_path2 {
  fill: #fff;
}

@keyframes wobble-ver-left {
  0%, 100% {
    transform: translateY(0) rotate(0);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateY(-17px) rotate(-6deg);
  }
  30% {
    transform: translateY(12px) rotate(6deg);
  }
  45% {
    transform: translateY(-12px) rotate(-3.6deg);
  }
  60% {
    transform: translateY(7px) rotate(2.4deg);
  }
  75% {
    transform: translateY(-4px) rotate(-1.2deg);
  }
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
.breadcrumb {
  background: #F8F3F4;
  width: 100%;
  padding: 60px 0;
}
.breadcrumb__inner {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
}
.breadcrumb__title {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 400;
}
.breadcrumb__nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 8px;
}
.breadcrumb__link {
  color: #636363;
  font-weight: 300;
  font-size: 14px;
}
.breadcrumb__link:hover {
  text-decoration: underline;
}
.breadcrumb__link::after {
  content: "/";
  padding-left: 7px;
}
.breadcrumb__link:last-child {
  color: #F16D7F;
  font-weight: 600;
}
.breadcrumb__link:last-child::after {
  content: "";
  padding-left: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #5D5D5D;
}

img {
  max-width: 100%;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.top__slider {
  position: relative;
  width: 100%;
  height: 777px;
  background: #F7F7F7;
}
.top__slider-screen {
  height: 93%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.top__slider-img {
  height: 100%;
}
.top__slider-tools {
  display: flex;
  width: 100%;
  top: calc(50% - 23px);
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1;
}
.top__slider-btn {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 47px;
  height: 47px;
  cursor: pointer;
  background: rgba(42, 42, 42, 0.15);
  border: none;
}
.top__slider-btn:hover path {
  fill: #F16D7F;
}
.top__slider-btn_right {
  transform: rotate(180deg);
}
.top__content {
  position: relative;
  top: -64px;
}
.top__content-inner {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: #fff;
  border: 1px solid #EAEAEA;
  padding: 64px 0;
}
.top__content-subtitle {
  text-transform: uppercase;
  color: #F16D7F;
  font-size: 14px;
  font-weight: 300;
}
.top__content-line {
  display: block;
  width: 63px;
  height: 3px;
  background: #F16D7F;
  margin: 12px 0;
}
.top__content-title {
  font-weight: 300;
  font-style: 18px;
  text-transform: uppercase;
  color: #4D4D4D;
  margin-bottom: 48px;
}
.top__content-text {
  max-width: 554px;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  line-height: 17px;
  margin-bottom: 32px;
}
.top__content-price {
  font-weight: 300;
  font-size: 24px;
  color: #F16D7F;
  margin-bottom: 64px;
}
.top__content-long-line {
  display: block;
  background: #F16D7F;
  opacity: 0.3;
  width: 642px;
  height: 1px;
  margin-bottom: 64px;
}
.top__content-options {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.top__content-choose {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}
.top__content-details {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  color: #6F6E6E;
  margin-bottom: 48px;
}
.top__content-summary {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 9px;
  cursor: pointer;
}
.top__content-summary:hover {
  color: #F16D7F;
}
.top__content-summary:hover path {
  fill: #F16D7F;
}
.top__content-sometext {
  position: absolute;
  top: 20px;
  background: #fff;
}
.top__content-btn {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 23px;
  width: 211px;
  padding-top: 14px;
  padding-bottom: 14px;
  background: none;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;
}
.top__content-btn path {
  transition: all 0.3s;
}
.top__content-btn:hover {
  color: #fff;
  background: #F16D7F;
}
.top__content-btn:active {
  background: #da485b;
}
.top__content-btn:hover path {
  fill: #fff;
}

.product {
  margin-top: 64px;
  margin-bottom: 128px;
}
.product__items {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.product__item {
  max-width: 360px;
  text-align: left;
}
.product__item:hover .product__hover_wraper {
  opacity: 1;
}
.product__item_top {
  position: relative;
  height: 420px;
  overflow: hidden;
}
.product__photo {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.product__hover_wraper {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(58, 56, 56, 0.86);
  transition: opacity 0.3s;
}
.product__hover_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 150px;
  color: #fff;
  font-size: 14px;
  gap: 11px;
  padding: 10px 13px;
  border: 1px solid #fff;
}
.product__hover_button:hover {
  animation: vibrate-1 0.3s linear infinite both;
}
.product__item_bottom {
  background: #F8F8F8;
  padding: 28px 17px 21px;
}
.product__name {
  font-size: 13px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 13px;
}
.product__desc {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 18px;
}
.product__price {
  color: #F16D7F;
  font-size: 16px;
}

.subscribe {
  background-image: url(img/subscribe-bg.jpg);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
}
.subscribe__wraper {
  width: 100%;
  height: 100%;
  padding: 97px 0 126px;
  background: rgba(244, 244, 244, 0.7);
}
.subscribe__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscribe__quote, .subscribe .subscribe__feedback {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe__feedback {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe__quote {
  max-width: 360px;
}
.subscribe__quote_pic {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
  margin-bottom: 28px;
}
.subscribe__quote_img {
  position: absolute;
  transform: scale(1.01);
  top: 0;
  left: 0;
}
.subscribe__quote_text {
  font-size: 20px;
  color: #222224;
}
.subscribe__quote_text span {
  font-style: italic;
}
.subscribe__feedback {
  max-width: 557px;
}
.subscribe__feedback_subtitle {
  text-transform: uppercase;
  color: #222224;
}
.subscribe__feedback_title, .subscribe .subscribe__feedback_subtitle {
  text-transform: uppercase;
  color: #222224;
}
.subscribe__feedback_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 168%;
}
.subscribe__feedback_subtitle {
  font-size: 18px;
  margin-bottom: 32px;
}
.subscribe__feedback_form {
  height: 49px;
  display: flex;
  justify-content: center;
}
.subscribe__feedback_email {
  width: 256px;
  height: 100%;
  border-radius: 25px 0 0 25px;
  padding: 17px 22px;
  background: #E1E1E1;
  border: none;
}
.subscribe__feedback_email::-moz-placeholder {
  font-size: 14px;
  color: #222224;
}
.subscribe__feedback_email::placeholder {
  font-size: 14px;
  color: #222224;
}
.subscribe__feedback_btn {
  width: 100px;
  height: 100%;
  border-radius: 0 25px 25px 0;
  background: #F16D7F;
  font-size: 14px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}
.subscribe__feedback_btn:hover {
  background: #d44d5f;
}/*# sourceMappingURL=product.css.map */